<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.H2K.TestData.ListenerNg"/>
</listeners>
  <test  name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.H2K.TestCases.TC_Loging_001"/>
      <class name="com.H2K.TestCases.TC_Landing_002"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
